name: publish
permissions:
  contents: write

on:
    workflow_dispatch:
    push:
      branches:
        - master

jobs:
  build:
    name: build and write site spa files to www
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: touch www/.nojekyll # to make sure asset paths are correctly identified
        run: "mkdir -p $GITHUB_WORKSPACE/www && touch $GITHUB_WORKSPACE/www/.nojekyll"

      - name: build spa
        uses: logseq/publish-spa@v0.3.1
        # with:
        #   theme_mode: dark

      - name: publish
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: publish
          folder: www
          clean: true
